body{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    /* same as above */
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.5em;    
    margin: 0;
}

.clr{
    clear: both;
}

.container{
    width: 80%;   /*use percent to have it responsive */
    margin: auto; /*puts margin on both sides of the div */
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}




.box-1{
    background-color: #333333;
    color: #f4f4f4;
    border    : 5px red solid;    
    padding: 20px 20px;   /* space inside of the border */
    margin: 20px 20px; /* space outside of the border */
}


.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px 20px;
    margin: 20px 0;
}


.categories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding: 0;
    list-style: none;
}


.categories li{
    padding-bottom: 8px;   
}



.my-form{
    padding: 20px;
    margin: 5% 30%;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"],input[type="email"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.my-form textarea{
    border: none;
    margin-bottom: 5%;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background: red;
    color: white;
}


.block{
    float: left;
    width: 33.3%;
    border: 1px;
    padding: 15px;
    border: 1px solid;
    box-sizing: border-box;
}

#main-block{
    float: left;
    width: 70%;
}

#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.main-footer{
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}


.p-box{
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    background-image: url('../showcase.jpg');
    background-position: 100px 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}


.fix-me{
    position: fixed;
    top: 400px;
}

.mylist li:first-child{
    background: red;

}

.mylist li:last-child{
    background: blue;
}

.mylist li:nth-child(5){
    background: yellow;
}

.mylist li:nth-child(even){
    background: green;
}

.footer-content li{
  text-align: center;
  text-decoration: none;
  list-style: none;     
}

.footer-content li a{
    color: #ccc;
}

.footer-content li a:hover{
    color: red;
}






